* {
    margin: 0px;
    padding: 0px;
}

#container {
    background-image: url("https://images.unsplash.com/photo-1544005313-9794b20ee9d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1hbiUyMHN1bnNldHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    height: 99vh;
    width: 99%;
    background-position: center;
    background-size: cover;
}

.head {
    margin-left: 50%;
    margin-top: 20%;
    border: 2px solid rgba(0, 0, 0, 0.103);
    border-radius: 6px;
    height: 90%;
    width: 50%;
    box-shadow: 0 0 30px 7px #000000;

}

.text1 {
    background: transparent;

}

span h2 {
    display: inline;
    /* margin-left: 2%; */
    /* margin-top: 90px; */
    /* padding-left: 5%; */
    font-size: 20px;
    padding: 25px;
    position: relative;
    top: 20px;
    color: white;
    font-weight: 20px;

}

.text1 {
    margin-top: 40px;
    margin-left: 15%;
    width: 70%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
outline: none;
}

::placeholder{
    color: rgb(255, 255, 255);
}


.text1:hover {
    border-color: rgb(131, 236, 121);
}



.check {
    position: relative;
    top: 40px;
    left: 70px;
}

.check2 {
    position: relative;
    top: 38px;
    left: 70px;
    color: white;
    font-size: 13px;
}

.button1 {
    color: white;
    background-color: rgb(53, 190, 40);
    border: 6px solid rgb(53, 190, 40);
    width: 150px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 25%;
    border-radius: 20px;
    font-weight: 600;
}